/*

Add main CSS here

*/
<<<<<<< HEAD
/*.icon {
  transition: background-color 0.5s ease;
  background-color: red;
}
.icon:hover {
  background-color: blue;

}*/
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.map {
  margin-top: 100px;
  margin-left: 600px;
  margin-right: 100px;
  height: 600px
}

.stations, .stations svg {
  position: absolute;
}

.stations svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.stations circle {
  fill: brown;
  stroke: black;
  stroke-width: 1.5px;
}

.stations circle:hover {
  fill: blue;
}
